* {main
	margin: 0;
	padding: 0;
	color: #FFFFFF;
	font: inherit;
	background: rgb(0,15,52);
	background: linear-gradient(90deg, rgba(0,15,52,1) 0%, rgba(45,102,254,1) 47%, rgba(82,122,241,1) 92%); 
}
.button {
	background: none;
	transition: 0.5s;
}
a {
    text-decoration: none;
	margin: 20px;
}
img {
	size: 50%;
	transition: 0.5s;
	width:400px;
	margin: 20px;
	background: none;
}
#contact {
	text-align: center;
}
.virsutine-lentele {
	background: rgb(0,15,52);
	background: linear-gradient(90deg, rgba(82,122,241,1) 0%, rgba(45,102,254,1) 47%, rgba(0,15,52,1) 92%); 
	height: 50px;
}
img:hover {
	transform: translateX(20px);
}
